/* Colors and fonts*/
body {
	background: #FFF6DC;
	color: #9E9FA5;
	font-family: 'Exo 2', sans-serif;
	font-size: 30px;
	font-weight: lighter;
}



h1 {
	font-family: 'Playpen Sans', cursive;
	color: #C4C1A4;
	font-size: 50px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	color: #C4C1A4;
	font-weight: lighter;
	font-size: 50px;
}


a{
	text-decoration: none;
	color: #C4C1A4;
}

a:hover {
	color: #DFCCFB;
}

/* Custom design and class*/

.container{
	width: 700px;
	margin: 40px auto;
}
.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
	height: 300px;
}

.btn-blue{
	background-color: #C4C1A4;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover{
	background-color: #FFF6DC;
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding:10px;
}

.list-inline i{
	font-size:50px;
	color: #C4C1A4;
}

.list-inline i:hover {
	color:#FFF6DC;
}

/*Design adjustments using id*/

#introduction p{
	margin-bottom: 90px;
}